# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
app/cache/*
web/uploads/*
web/bundles/acmedemo/*
web/bundles/framework/*
web/bundles/sensiodistribution/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar