{% extends 'IntranetMainBundle::layout.html.twig' %}

{% block title %}Happy page{% endblock %}

{% block body %}
{% render(controller('IntranetMainBundle:Index:getTopicSections')) %}
<hr>
	{% block content %}
		<h1>This is index page!!</h1>
		<p>We glad to welcome you at our start page ^_^</p>
	{% endblock %}
{% endblock %}

