{% extends 'IntranetMainBundle::layout.html.twig' %}

{% block title %}Happy page{% endblock %}

{% block body %}
<h1>This is index page!!</h1>
<p>We glad to welcome you at our start page ^_^</p>
{% endblock %}

