
{% set children = topic.getChildrenForOffice(em, localOffice, app.user.userSettings.showHiddenTopics) %}
<li class='drop-link {% if topic.status == "closed" %}closed{% else %} active {% endif %} ' style="width:400px">
    <a  href="{{ url('intranet_show_topic', {topic_id: topic.getId()}) }}">
        {{topic.name}}{% if (children|length > 0 ) %}
            <i class="fa fa-share right"></i>
        {% endif %}
        {% if topic.status == 'closed' %}
            <i class="fa fa-warning right"></i>
        {% endif %}
        {% if topic.getTasksCount() > 0 %}
            <span class="badge bg-danger right">{{ topic.getTasksCount() }}</span>
        {% endif %}
    </a>


		{% if ( children|length > 0 ) %}
		<ul class='drop-block active'>
        {% for child in children %}
			{{include(
         		'IntranetMainBundle:Index:showTopicMenuTree.html.twig',
           		{ 'topic': child }
        	)}}
        {% endfor %}
        </ul>
        {% endif %}
		</li>
{#{% endif %}#}