{% extends 'IntranetMainBundle:Index:index.html.twig' %}

{% block title %}{{ section.name }}{% endblock %}

{% block content %}
<h1>{{ section.name }}</h1>
{% for topic in section.topics %}
<h3>{{ topic.name }}</h3>
{% endfor %}
{% endblock %}

