<div class="modal-body">
	<div class="form-group">
    	<div class="panel ">
    		<div class="panel-body">
				<h4>Available types: <b>{{ availableTypes }}</b></h4>
           		<input type="file" name="file_upload" id="file_upload" />
			</div>
			<div class="panel-heading bg-primary text-white">
				<h3 class="panel-title">
					<i class="fa fa-check-square-o"></i>
					Documents List
				</h3>
			</div>
			<div class="panel-body nopadding" style="display: block; height: 400px; overflow-y:scroll">
				<ul class="list-group list-todo">
					<li class="list-group-item" ng-repeat="document in documents">
						<i class="fa fa-check-square-o finish   fa-square-o" ng-click="checkItem(document.id)"></i>
						<span>&nbsp;[[ document.name ]]</span>
						<span class="pull-right ">
							<img src="{{ app.request.getBaseURL() }}/../[[ document.url ]]" width="32" height="32" alt="[[ document.name ]]">
						</span>
					</li>
				</ul>
			</div>
			<div class="panel-body" style="display: block;">
				<button class="btn btn-success btn-block" ng-click="addDocuments()">Add Documents</button>
			</div>
		</div>
	</div>
	<script>
	var TIMESTAMP = '{{ timestamp }}';
	var TOKEN = '{{ token }}';
	</script>
</div>