<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Main page{% endblock %}</title>
	</head>
	<body>
		{% render(controller('IntranetMainBundle:Index:getTopicSections')) %}
		<hr>
		{% block body %}
		{% endblock %}
	</body>
</html>

