{% extends 'IntranetMainBundle:Index:index.html.twig' %}

{% block title %}User Settings{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
	<li class="active">User Settings</li>
</ul>
{% endblock %}

{% block pageheader %}   
<div class="row">
	<div class="col-md-12">
		<h3 class="page-header"><i class="fa fa-gears"></i> User Settings <i class="fa fa-info-circle animated bounceInDown show-info"></i> </h3>

		<blockquote class="page-information hidden">
		<p>
			On this page you can change your own global settings...
		</p>
		</blockquote>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<h1>Settings panel will be here...</h1>
	</div>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	
{% endblock %}
